extends layout

block content
  h1 WOMENS

  nav
    a(href="/men") Men
    |  |
    a(href="/women") Women
    |  |
    a(href="/kids") Kids
    |  |
    a(href="/cart") Cart
    |  |
    a(href="/wishlist") Wishlist
    |  |
    a(href="/") Home
    |  |
    a(href="/contact") Contact

.womens-shoe-list // A container for the list of kids' shoes
    if products && products.length > 0
      .product-grid
        each product in products
          .product-card
            a(href=`/product/${product._id}`)
              img(src=`/images/${product.image}`, alt=product.name)
            h3
              a(href=`/product/${product._id}`) #{product.name}
            p.price $#{product.price}
         
    else
      p No womens' shoes available at the moment.


  form(method="post")
    label(for="activity") Shoe Size
    select(name="activity")
      option 4
      option 5
      option 6
      option 7
      option 8
      option 9
      option 10
      option 11 12
      option 13
      option 14
      option 15
    br
    // You're missing the submit button and other form elements from your index.pug here
    input(type="submit", value="checkout")

  // You're missing the categories, cart, wishlist, etc. links from your index.pug here

  footer
    p &copy; 2025 The Best Shoe Store in the World